.description {
  max-width: 1241px;
  margin: 0 auto;
  padding: 121px 40px 236px 40px;

  @include vp-1199 {
    padding: 98px 45px 165px 45px;
  }

  @include vp-767 {
    padding: 66px 0 40px 0;
  }
}

.description__wrapper {
  display: grid;
  grid-template-columns: 1fr max-content;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 32px;
  }

  @include vp-767 {
    gap: 23px;
  }
}

.description__text-wrapper {
  margin-left: 61px;
  margin-top: 44px;
  margin-right: 81px;

  @include vp-1199 {
    text-align: center;
    margin: 0;
  }

  @include vp-767 {
    text-align: start;
    padding: 0 15px;
  }
}

.description__image-wrapper {
  position: relative;
  overflow: hidden;
  width: 660px;
  max-height: 401px;

  @include vp-1199 {
    justify-self: center;
    width: 678px;
    max-height: 345px;
  }

  @include vp-767 {
    width: 100%;
    max-height: 313px;
    margin-bottom: 40px;
  }
}

.description__image-wrapper img {
  position: relative;
  max-width: 200%;
  width: 660px;
  height: auto;
  min-height: 429px;
  bottom: 28px;

  @include vp-1199 {
    width: 115%;
    min-height: unset;
    left: -97px;
    bottom: 19px;
  }

  @media (min-width: 330px) and (max-width: 767px) {
    width: 100%;
    min-height: 321px;
    left: 0;
    object-fit: cover;
  }


  @media (max-width: 329px) {
    width: 146%;
    min-height: 321px;
    left: -132px;
    bottom: 5px;
  }
}

.description__title-area {
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.description__title-area h2 {
  font-family: $ff-bebas;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  margin: 0 0 12px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
  }
}

.description__title-area p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $color-sapphire;
  margin: 0;
}

.description__text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: $color-sapphire;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include vp-1199 {
    max-width: 514px;
    margin: 0 auto;

    &:not(:first-child) {
      display: none;
    }
  }

  @media (min-width: 330px) and (max-width: 767px) {
    max-width: unset;
  }

  @include vp-767 {
    max-width: 258px;
    margin: 0;
  }
}

.description__media-wrapper {
  position: relative;

  @include vp-1199 {
    justify-self: center;
  }
}

.description__video-container {
  position: absolute;
  left: -9.5%;
  top: 289px;

  &--active .description__video {
    display: block;
  }

  &--active .description__video-overlay {
    display: none;
  }

  @include vp-1199 {
    left: 30.5%;
    top: 76%;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    left: 0;

    &--active {
      display: block;
      width: 100%;
      padding-top: 50%;
    }
  }

}

.description__video {
  display: none;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}

.description__video iframe {
  border: none;
}

.description__video-overlay {
  position: relative;
  overflow: hidden;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-767 {
    width: 100%;
    height: auto;
  }

  @media (max-width: 320px) {
    max-height: 167px;
  }
}

.description__video-overlay img {
  object-fit: cover;
  max-width: 200%;
  width: 107%;
  position: relative;
  bottom: 26px;

  @include vp-1199 {
    bottom: 19px;
    left: -2px;
  }

  @include vp-767 {
    bottom: 4px;
    left: 0;
    width: 100%;
  }
}

.description__video-play-button {
  position: absolute;
  top: 28%;
  left: 36%;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  background-image: url("../img/svg/play-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  @include vp-767 {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
}
