.features-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  max-width: 1040px;
  column-gap: 58px;
  row-gap: 158px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    row-gap: 44px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 41px;
    justify-items: center;
  }
}

.features-list__item {
  display: flex;
  gap: 30px;
  margin-top: -4px;
  position: relative;

  &--first {
    margin-left: 27px;
  }

  &--second {
    margin-left: 3px;
  }

  &--first,
  &--second {
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      background-color: rgba(209, 10, 66, 0.2);
    }
  }

  &--first {
    &::after {
      left: -28px;
      bottom: -78px;
      width: 109%;
    }
  }

  &--second {
    &::after {
      left: 0;
      bottom: -77px;
      width: 101%;
    }
  }

  &--fourth {
    margin-left: 20px;
  }

  &--fifth {
    margin-left: 4px;
  }

  &--center {
    min-width: 240px;
    max-height: 307px;
    background-color: $color-resolution-blue;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 0 0 0 2px;
    padding-top: 35px;
  }

  @include vp-1199 {
    margin-top: 0;

    &--first {
      margin-left: 45px;
    }

    &--first,
    &--second {
      &::after {
        display: none;
      }
    }

    &--center {
      min-width: 442px;
      min-height: 240px;
      grid-column: 1/-1;
      grid-row: 2/3;
      justify-self: center;
      gap: 15px;
      padding-top: 12px;
    }

    &--fourth {
      margin-left: 45px;
    }
  }

  @include vp-767 {
    flex-direction: column;
    text-align: center;
    gap: 10px;

    &--first {
      margin-left: 0;
    }

    &--second {
      margin-left: 0;
    }

    &--center {
      width: 100%;
      min-width: unset;
      grid-column: 1/-1;
      grid-row: 3/4;
      padding-top: 19px;
      justify-self: end;
    }

    &--fourth {
      margin-left: 0;
    }

    &--fifth {
      margin-left: 0;
    }
  }
}

.features-list__statistics-wrapper p {
  font-weight: 700;
  font-size: 71px;
  line-height: 58px;
  background: linear-gradient(142.51deg, #d10a42 0%, #0041ca 87.33%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $color-default-black;
  margin: 0;

  @include vp-1199 {
    font-size: 58px;
    line-height: 48px;
  }

  @include vp-767 {
    width: fit-content;
    margin: 0 auto;
  }
}

.features-list__statistics-wrapper--center {
  margin-bottom: 4px;

  @include vp-1199 {
    margin-bottom: -14px;
  }

  @include vp-1199 {
    margin-bottom: 0;
  }
}

.features-list__statistics-wrapper--center p {
  background: none;
  background-clip: unset;
  color: $color-default-white;
  -webkit-text-fill-color: unset;
  font-size: 74px;
  line-height: 150%;
  margin-left: 7px;
  margin-bottom: -16px;

  @include vp-1199 {
    font-size: 74px;
    line-height: 150%;
    margin-left: -5px;
    margin-bottom: -17px;
  }

  @include vp-767 {
    margin-bottom: -25px;
  }
}

.features-list__statistics-wrapper span {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $color-persian-blue;
}

.features-list__statistics-wrapper--center span {
  color: $color-default-white;
  font-size: 26px;

  @include vp-1199 {
    font-size: 22px;
  }
}

.features-list__text-wrapper {
  margin-top: -2px;
}

.features-list__text-wrapper h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: $color-sapphire;
  margin: 0 0 5px 0;

  @include vp-1199 {
    font-size: 20px;
    margin: -3px 0 2px 0;
  }
}

.features-list__text-wrapper p {
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  color: $color-sapphire;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include vp-767 {
    max-width: 228px;
  }
}

.features-list__text-wrapper--center p {
  color: $color-default-white;
  line-height: 150%;
  text-align: center;
  max-width: 172px;

  @include vp-767 {
    max-width: 176px;
  }
}
