.no-js {
  display: block;
  position: relative;
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.no-js.description__video-container {
  display: none;
}

.no-js.tabs__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.subscription-list.no-js {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @include vp-1199 {
    grid-template-rows: 1fr;
    justify-items: center;
  }
}

.no-js.trainers-list {
  max-width: unset;
  overflow: unset;
}

.no-js.trainers-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  overflow: unset;

  @include vp-1199 {
    justify-content: center;
  }
}

.no-js.trainers__button {
  display: none;
}

.no-js.reviews__wrapper,
.no-js.reviews__list {
  max-width: 1160px;
}

.no-js.reviews__swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: unset;
}

.no-js.reviews__btn {
  display: none;
}
