.social-list {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}

.social-list__item {
  &:not(:last-child) {
    margin-bottom: 19px;
  }
}

.social-list__item a {
  color: $color-default-white;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    color: rgba($color-default-white, 0.8);
  }
}
